:root {
    --system-blue: 173, 222, 230; // #addee6
    --system-pink: 246, 173, 181; // #f6adb5
    --system-red: 237, 50, 87; // #ed3257
    --system-beige: 233, 224, 206; // #e9e0ce
    --system-yellow: 254, 210, 1; // #fed201
    --background-color: 250, 250, 250; // #000000
    --primary-text: 45, 45, 45; // #2D2D2D
    --secondary-text: 250, 250, 250; // #000000
    --system-light-beige: 249, 244, 235; // #f9f4eb
    --light-grey: 248, 249, 255;

    --secondary-background: 249, 245, 240; //#f9f5f0
    --active-green: 0, 147, 121; //#009379
}
